.container {
  background-color: #48b9ee;
  display: flex;
  min-width: 100%;
  align-items: center;
  padding: 16px;
  justify-content: space-around;
}

.container > button {
  min-width: fit-content;
}

.container > span {
  min-width: fit-content;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 8px;
}

.goToPage {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.paginationButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 1;
  flex-grow: 1;
}
